# Ignore everything
/*

# Not these files
!/.gitattributes
!/.gitignore
!/LICENSE
!/README.md
!/ROADMAP.md
!/.env.example
!/.dockerignore
!/Dockerfile
!/docker-compose.yaml
!/entrypoint.sh
!/generate.sh
!/nginx.conf
!/supervisord.conf
!/m3u_gen_acestream.docker.yaml

# Ignore .env (contains sensitive config)
.env

# Not these directories
!/src
!/.github
